
.tictactoe {
    border-radius: 5px;
    height: 530px;
    width: 580px;
    background-color:  #1b262c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tictactoerow {
    display: flex;

    justify-content: space-between;

}


.tictactoe-square {
    border-radius: 2px;
    height: 170px;
    width: 185px;
    background-color: black;
}

.tictactoe-square:hover {
    background-color: #1b262c;
}